.place__paragraph {
  margin: 0 auto 26px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .place__paragraph {
    font-size: 16px;
  }
}
  
