.intro__text {
  max-width: 690px;
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 0;
}