.place__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #fff;
    transition: .4s;
}

.place__link:hover {
    transition: .4s;
    opacity: 0.8;
}